th,td{
    text-align:center;
    padding:10px;
    border-bottom: 1px solid black;
  }
  #paginationtable tr:nth-child(even){background-color: #f2f2f2;}
  
  #paginationtable tr:hover {background-color: #ddd;}
  
  #paginationtable{
    border: 1px solid black;
    border-collapse:collapse;
    
  }


  thead{
    background-color: grey;
    color:white
  }